@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>Current user: @User.Identity.Name</h3>

@{
    var role = "";
    if (User.IsInRole("Student"))
    {
        role = "Student";
    }
    else
    {
        role = "Unknown";
    }
}

    <h3>Role: @role</h3>

@{
    var assignment1Mark = 20;
    var assignment2Mark = 15;
    var examMark = 55;
    var totalMark = assignment1Mark + assignment2Mark + examMark;
}
<h2>My total mark: @totalMark</h2>


<h2>My total mark from ViewBag: @ViewBag.MyTotalMark</h2>
<h2>My total mark from ViewData: @ViewData["MyTotalMark"]</h2>


